 # Explorando y limpiando dataset netflix

In [1]:
import pandas as pd

 ## Cargando dataset de origen

In [2]:
data_file="../data/original/netflix.csv"
data = pd.read_csv(data_file)
data.shape

(6234, 12)

 ## Cambiando titulos de columnas

In [3]:
data.columns=[
    'id', 'tipo', 'titulo', 
    'director', 'actores', 'pais', 
    'incorporada', 'lanzamiento', 'publico', 
    'duracion', 'clasificacion', 'descripcion']
data.head()

,id,tipo,titulo,director,actores,pais,incorporada,lanzamiento,publico,duracion,clasificacion,descripcion
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

 ## Verificando tipos de datos

In [4]:
data.dtypes

id                int64
tipo             object
titulo           object
director         object
actores          object
pais             object
incorporada      object
lanzamiento       int64
publico          object
duracion         object
clasificacion    object
descripcion      object
dtype: object

 ## Quitando columnas innecesarias

In [5]:
data = data.drop(["descripcion"], axis = 1)
data.head()

,id,tipo,titulo,director,actores,pais,incorporada,lanzamiento,publico,duracion,clasificacion
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies"
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies

 ## Buscando columnas nulas

In [6]:
def buscar_nulos(dataframe):
    contador=0
    for columna in dataframe:
        nombre_col = dataframe[columna].name
        cantidad_col = len(dataframe[dataframe[columna].isnull()]) 
        porcentaje_col = (cantidad_col / (1.0*len(data))) * 100
        tipo_col = dataframe[columna].dtype
        if porcentaje_col != 0:
            contador+=1
            print(
                "Columna : {}".format(nombre_col), 
                "nulos {} ({}%)".format(cantidad_col, round(porcentaje_col)),
                "tipo {}".format(tipo_col), 
                sep="\t")
    if contador==0:
        print("No existen valores nulos en el dataframe.")
buscar_nulos(data)

Columna : director	nulos 1969 (32%)	tipo object
Columna : actores	nulos 570 (9%)	tipo object
Columna : pais	nulos 476 (8%)	tipo object
Columna : incorporada	nulos 11 (0%)	tipo object
Columna : publico	nulos 10 (0%)	tipo object

 ## Asignando valores a filas nula y verificando nuevamente

In [7]:
data['director'].fillna('Sin director', inplace=True)
data['actores'].fillna('Sin actores', inplace=True)
data['pais'].fillna('No clasificada', inplace=True)
data['incorporada'].fillna('No definido', inplace=True)
data['publico'].fillna('Sin clasificar', inplace=True)
data=data 
buscar_nulos(data)

No existen valores nulos en el dataframe.

 ## Grabando el dataset limpio (intermedio)

In [8]:
data_file="../data/intermediate/netflix-limpio.csv"
data.to_csv(data_file, index=False)
print(data_file, " almacenado.")

../data/intermediate/netflix-limpio.csv  almacenado.

 # Limpieza de dataset netflix concluida.